body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#app {
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    text-align: center;
}

p.description {
    font-size: 1.2rem;
    color: #6b7280;
}

textarea {
    font-size: 1rem;
    width: 100%;
    height: 100px;
    padding: 0px;
    outline: none;
    box-shadow: none;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #3b82f6;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2563eb;
}

button#shred {
    margin-top: 20px;
}

#shred-container {
    position: relative;
    overflow: hidden;
    height: 500px;
    margin-top: 20px;
    padding: 10px;
}

.shred-text-box {
    animation: fade-out 10s .5s;
}

.shred-text {
    display: inline-block;
    font-size: 1.2rem;
    color: #374151;
    animation: shake 0.1s infinite .5s;
}

@keyframes shake {
    0% {
        transform: translateX(0px) rotateZ(0deg)
    }

    25% {
        transform: translateX(4px) rotateZ(4deg)
    }

    50% {
        transform: translateX(0px) rotateZ(0deg)
    }

    75% {
        transform: translateX(4px) rotateZ(-4deg)
    }

    100% {
        transform: translateX(0px) rotateZ(0deg)
    }
}

@keyframes fade-out {
    0% {
        margin-top: 0;
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        margin-top: 400px;
        opacity: 0;
    }
}